{% extends "ts\training.html" %}

{% block cssBody%}
	background: #f9e6ba;
{% endblock %}

{% block cssHeader%}
    //background: rgb(255, 221, 221);
	color:	#e9ab18;
{% endblock %}

{% block cssLeft%}
    background: #f9e6ba;
{% endblock %}

{% block cssRight%}
    background: #f9e6ba;
{% endblock %}

{% block cssSub%}
	color:	#936b0e;
{% endblock %}

{% block cssWi%}
	color:	#edf4fb;
	background-color: #936b0e;
{% endblock %}

{% block cssFooter%}
    background: #e9ab18;
{% endblock %}

{% block team %}TV Training{% endblock %}
{% block slogan %}Be Original.原点(オリジナル){% endblock %}
