{% extends "ts\training.html" %}

{% block cssBody%}
	background: rgb(255, 221, 221);
{% endblock %}

{% block cssHeader%}
    background: rgb(255, 221, 221);
	color:	#f44336;
{% endblock %}

{% block cssLeft%}
    background: rgb(255, 221, 221);
{% endblock %}

{% block cssRight%}
    background: rgb(255, 221, 221);
{% endblock %}

{% block cssSub%}
	color:	#691616;
{% endblock %}

{% block cssWi%}
	color:	#edf4fb;
	background-color: #691616;
{% endblock %}

{% block cssFooter%}
    background: #f44336;
{% endblock %}

{% block team %}Other Programming{% endblock %}
{% block slogan %}10010100 10000111{% endblock %}

{% comment %}
{% block cssCard%}
	color:	#edf4fb;
    background: rgb(255, 152, 0);
{% endblock %}
{% endcomment %}