{% extends "ts\training.html" %}

{% block cssBody%}
	background: rgb(194, 219, 240);
{% endblock %}

{% block cssHeader%}
    //background: rgb(41, 108, 168);
	color:	rgb(41, 108, 168);
{% endblock %}

{#{% block cssNav%}{% endblock %}#}

{% block cssLeft%}
    background: rgb(194, 219, 240);
{% endblock %}

{% block cssRight%}
    background: rgb(194, 219, 240);
{% endblock %}

{% block cssSub%}
	color:	#1a456b;
{% endblock %}

{% block cssWi%}
	color:	#edf4fb;
	background-color: #1a456b;
{% endblock %}

{% comment %}
{% block cssCard%}
	color:	#edf4fb;
    background: #153755;
{% endblock %}


{% endcomment %}

{% block cssFooter%}
    background: rgb(41, 108, 168);
{% endblock %}

{% block team %}Android {% endblock %}
{% block slogan %}Be Together, Not the Same.{% endblock %}
